/* @import "tailwindcss";
@import "utilities";
@import "components" */


/* .table{
  margin: auto;
  width: 800px;
  
}

.table td{
  margin: 10px;
  border: 1px solid gainsboro;
  width: 100px ;
} */